name: Auto-merge releas to next releases
on: 
  push:
    branches:
      - release-*
jobs:
  auto-merge-rc-job:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v1
      - name: Auto-merge
        uses: sergeevichvn/gh-action-nightly-merge@v1.3.2-beta-36
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: send custom message with args
        if: failure()
        uses: appleboy/telegram-action@v0.1.1
        with:
          to: ${{ secrets.TELEGRAM_TEST_CHAT_ID }}
          token: ${{ secrets.AUTO_MERGE_TELEGRAM_BOT_TOKEN }}
          message: The ${{ github.event_name }} event triggered first step.
